<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xmazon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FB36B211C6D0FAD007A780D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB36B3A1C6D0FAE007A780D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB36B451C6D0FAE007A780D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
